# Jorian840 board configuration

# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config BOARD_CHARYBDIS
	bool "charubdis"
	depends on SOC_NRF52840_QIAA

config BOARD_CHARYBDIS_LEFT
	bool "charybdis_left"
	depends on SOC_NRF52840_QIAA

config BOARD_CHARYBDIS_RIGHT
	bool "charybdis_right"
	depends on SOC_NRF52840_QIAA
