# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_CHARYBDIS_LEFT || BOARD_CHARYBDIS_RIGHT

config BOARD
  default "charybdis"

config ZMK_SPLIT
  default y

config ZMK_BLE
  default y

config ZMK_USB
  default n

endif # BOARD_CHARYSBDIS_LEFT || BOARD_CHARYBDIS_RIGHT

if BOARD_CHARYBDIS_LEFT_SR

config ZMK_KEYBOARD_NAME
  default "SETTINGS RESET"

config BOARD
 default "charybdis"

endif
